* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 43.75%;
}

body {
  background-color: #f7f7f9;
}

header {
  background-color: #fff;
  border-bottom-left-radius: 5.9375rem;
  height: 100vh;
  position: relative;
  margin-bottom: 6.5625rem;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20.8px 24px;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
}

.icon {
  line-height: 20px;
  font-size: 30px;
  color: #6070ff;
}

.maintext {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
}

h1 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  margin-top: 10px;
  line-height: 24px;
}

.sites,
h3 {
  margin-top: 20px;
}

h3 {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.sites {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.web {
  list-style-type: none;
}

.background div {
  position: absolute;
}

.bg-img {
  position: absolute;
}

.bg-img-1 {
  left: -11.5%;
  height: 10%;
}

.bg-img-2 {
  top: 18%;
  left: 35%;
  height: 20px;
  transform: rotate(50deg);
}

.bg-img-3 {
  top: 13%;
  left: 82%;
  height: 125px;
}

.bg-img-4 {
  top: 90%;
  left: 52%;
  height: 40px;
}

.bg-img-5 {
  top: 74%;
  left: 80%;
  height: 50px;
}

.bg-img-6 {
  top: 12%;
  left: 60%;
  height: 18px;
}

.bg-img-7 {
  top: 40%;
  left: 80%;
  height: 15px;
}

.bg-img-8 {
  top: 90%;
  left: 15%;
  height: 18px;
}

.work {
  min-height: 90vh;
}

.card-works {
  display: flex;
  flex-direction: column;
  border: rgba(58, 58, 58, 0.103) solid 0.0625rem;
  border-radius: 0.9375rem;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  padding-bottom: 15px;
}

.card-works-2 {
  display: flex;
  flex-direction: column;
  border: rgba(58, 58, 58, 0.103) solid 0.0625rem;
  border-radius: 0.9375rem;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
}

.snapshoot {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  height: 220px;
}

.frame {
  margin-right: 15px;
  margin-left: 15px;
}

.frame h1 {
  margin-top: 10px;
  font-size: 35px;
}

.frame p {
  display: inline-block;
}

.frame2 p {
  font-weight: 600;
}

.canopy {
  font-size: 13px;
  padding-right: 5px;
  color: #344563;
}

.dev {
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  color: #7a869a;
}

.number {
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  color: #7a869a;
}

.primary {
  width: 250px;
  color: #344563;
  font-weight: 400;
  font-size: 15px;
}
/*
.html,
.css,
.js {
  float: left;
  font-size: 12px;
  margin-top: 15px;
  margin-right: 15px;
  padding: 3px 24px;
  border-radius: 10px;
  color: #6070ff;
  background: #ebebff;
}
*/

ul {
  list-style-type: none;
}

ul li {
  width: 100px;
  height: 20px;
  margin: 5px;
  background-color: red;
}

ul .num-1 {
  float: left;
}

button {
  margin-top: 15px;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  color: #6070ff;
  border: #6070ff solid 1px;
  background-color: #fff;
}

.about-myself {
  background-color: #fff;
  border-top-right-radius: 95px;
  padding: 30px 20px;
  margin-top: 10px;
}

.resume {
  margin-top: 20px;
  height: 58px;
  width: 162px;
}

.mytext h1 {
  width: 60%;
  margin-top: 1.25rem;
}

.about-myself h1 {
  font-size: 52px;
  line-height: 52px;
}

.selectors h1 {
  font-size: 20px;
  font-weight: 500;
}

.selectors ul {
  display: flex;
  flex-direction: column;
}

.selectors li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.languages div {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f9;
  margin: 5px;
  padding: 15px;
}

.selectors li div {
  display: flex;
}

.languages {
  display: flex;
  flex-direction: column;
}

.languages p {
  margin-left: 20px;
  font-size: 15px;
}

.selectors-icon {
  height: 1.5em;
}

.list-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectors-icon-2 {
  transform: rotate(-90deg);
  height: 1.5em;
}

@media screen and (min-with: 500px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-with: 1800px) {
  html {
    font-size: 75%;
  }
}
