* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7f9;
}

header {
  background-color: #fff;
  border-bottom-left-radius: 95px;
  height: 100vh;
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.3rem 1.5rem;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 1.125rem;
}

.icon {
  line-height: 1.25rem;
  font-size: 1.875rem;
  color: #6070ff;
}

.maintext {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
}

h1 {
  color: #172b4d;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #344563;
  margin-top: 0.625rem;
  line-height: 1.5rem;
}

ul,
h3 {
  margin-top: 1.25rem;
}

h3 {
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.25rem;
}

ul {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

li {
  list-style-type: none;
}

li:hover {
  -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
}

.background div {
  position: absolute;
}

.bg-img {
  position: absolute;
}

.bg-img-1 {
  left: -11.5%;
  height: 10%;
}

.bg-img-2 {
  top: 18%;
  left: 35%;
  height: 1.25re;
  transform: rotate(50deg);
}

.bg-img-3 {
  top: 13%;
  left: 82%;
  height: 7.8125rem;
}

.bg-img-4 {
  top: 90%;
  left: 52%;
  height: 2.5rem;
}

.bg-img-5 {
  top: 74%;
  left: 80%;
  height: 3.125rem;
}

.bg-img-6 {
  top: 12%;
  left: 60%;
  height: 1.125rem;
}

.bg-img-7 {
  top: 40%;
  left: 80%;
  height: 0.9375rem;
}

.bg-img-8 {
  top: 90%;
  left: 15%;
  height: 1.125rem;
}

