* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7f9;
}

header {
  background-color: #fff;
  border-bottom-left-radius: 95px;
  height: 100vh;
  position: relative;
  margin-bottom: 105px;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.3rem 1.5rem;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 1.125rem;
}

.icon {
  line-height: 1.25rem;
  font-size: 1.875rem;
  color: #6070ff;
}

.maintext {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
}

h1 {
  color: #172b4d;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #344563;
  margin-top: 0.625rem;
  line-height: 1.5rem;
}

ul,
h3 {
  margin-top: 1.25rem;
}

h3 {
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.25rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

li {
  list-style-type: none;
}

.background div {
  position: absolute;
}

.bg-img {
  position: absolute;
}

.bg-img-1 {
  left: -11.5%;
  height: 10%;
}

.bg-img-2 {
  top: 18%;
  left: 35%;
  height: 1.25rem;
  transform: rotate(50deg);
}

.bg-img-3 {
  top: 13%;
  left: 82%;
  height: 7.8125rem;
}

.bg-img-4 {
  top: 90%;
  left: 52%;
  height: 2.5rem;
}

.bg-img-5 {
  top: 74%;
  left: 80%;
  height: 3.125rem;
}

.bg-img-6 {
  top: 12%;
  left: 60%;
  height: 1.125rem;
}

.bg-img-7 {
  top: 40%;
  left: 80%;
  height: 0.9375rem;
}

.bg-img-8 {
  top: 90%;
  left: 15%;
  height: 1.125rem;
}

.work {
  min-height: 90vh;
}

.card-works {
  display: flex;
  flex-direction: column;
  border: rgba(58, 58, 58, 0.103) solid 0.0625rem;
  border-radius: 0.9375rem;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  padding-bottom: 15px;
}

.card-works-2 {
  display: flex;
  flex-direction: column;
  border: rgba(58, 58, 58, 0.103) solid 0.0625rem;
  border-radius: 0.9375rem;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
}

.snapshoot {
  margin-top: 0.9375rem;
  margin-right: 0.9375rem;
  margin-left: 0.9375rem;
  height: 13.75rem;
}

.frame {
  margin-right: 0.9375rem;
  margin-left: 0.9375rem;
}

.frame h1 {
  margin-top: 0.625rem;
  font-size: 2.1875rem;
}

.frame p {
  display: inline-block;
}

.frame2 p {
  font-weight: 600;
}

.canopy {
  font-size: 0.8125rem;
  padding-right: 0.3125rem;
  color: #344563;
}

.dev {
  font-size: 0.8125rem;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  color: #7a869a;
}

.number {
  font-size: 0.8125rem;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  color: #7a869a;
}

.primary {
  width: 15.625rem;
  color: #344563;
  font-weight: 400;
  font-size: 0.9375rem;
}

.html,
.css,
.js {
  font-size: 0.75rem;
  margin-top: 0.9375rem;
  padding: 0.0625rem 0.875rem;
  border-radius: 0.625rem;
  color: #6070ff;
  background: #ebebff;
}

button {
  margin-top: 0.9375rem;
  height: 3.125rem;
  width: 6.25rem;
  border-radius: 0.3125rem;
  color: #6070ff;
  border: #6070ff solid 0.0625rem;
  background-color: #fff;
}

.about-myself {
  background-color: #fff;
  border-top-right-radius: 95px;
  padding: 30px 20px;
  margin-top: 80px;
}

.resume {
  margin-top: 20px;
  height: 48px;
  width: 162px;
}

.mytext h1 {
  width: 60%;
  margin-top: 20px;
}

.about-myself h1 {
  font-size: 52px;
  line-height: 52px;
}

.selectors h1 {
  font-size: 20px;
  font-weight: 500;
}

.selectors ul {
  display: flex;
  flex-direction: column;
}

.selectors li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.langguages div {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f9;
  margin: 5px;
  padding: 15px;
}

.selectors li div {
  display: flex;
}

.langguages {
  display: flex;
  flex-direction: column;
}

.langguages p {
  margin-left: 20px;
  font-size: 15px;
}

.selectors-icon {
  height: 0.85em;
}

.list-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectors-icon-2 {
  transform: rotate(-90deg);
  height: 0.85em;
}
